<h1>Listing developers</h1>
<% if notice %>
<p id="notice"> <%= notice %></p>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @developers.each do |dev| %>
  <td><%= dev.name %></td>
  <td><%= dev.email %></td>
<% end %>
</table>
