<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<h1>Listing Projects</h1>
<% if notice %>
<p id="notice"> <%= notice %></p>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Max Hours Allowed</th>
  </tr>

  <% @projects.each do |project| %>
    <td><%= project.name %></td>
    <td><%= project.max_hours %></td>
  <% end %>
</table>
